<h1>Az alkalmazásról</h1>
<br><br>
<blockquote>
    Prometheus
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Az alkalmazás segítségével lehetőség nyílik a hallgatók számára, hogy egyszerűen felvegyék maguknak egyetemi tantárgyaikat. A tantárgyak kiválasztása után az oktatót is ki kell választani.
        Az alkalmazás használatához bejelentkezés, illetve regisztráció szükséges, melyet könnyen elvégezhetnek.</p>
    </div>
</div>